.css-input { border-width:2px; border-color:#cccccc; border-style:solid; font-size:17px; color:#f0f0f0; background-color:#595459; border-radius:7px; padding:6px;  position: relative;
    top: 2px;} 
.css-input:focus { outline:none; } 